.GRbtn {
  font-family: "small";
  width: 240px;
  height: 60px;
  background-color: #de3232;
  color: white;
  text-align: center;

  border-radius: 5px;
}

.GRbtn:hover {
  background-color: #54181a;
}

.smallbtn {
  display: inline-block;

  background-color: #d7d130;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.smallbtn:hover {
  background-color: #de3232;
}

@font-face {
  font-family: "hey";
  src: url(/fonts/AudioNugget.woff);
}
@font-face {
  font-family: "small";
  src: url(/fonts/CoralPixels-Regular.woff);
}
@font-face {
  font-family: "cool";
  src: url(/fonts/PressStart2P-Regular.ttf);
}
.HUGE {
  font-size: 56px;
}
h1 {
  font-family: "hey";
  color: white;
  font-size: 32px;
}
h2 {
  font-family: "cool";
  color: white;
}
p,
h3 {
  font-family: "small";
  color: white;
}
li {
  font-family: "cool";
  color: white;
}
